nav {
  position: fixed;
  width: 72px;
  background-color: white;
  top: 56px;
  left: 0;
  bottom: 0;
}

.nav-button-container {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 72px;
  transition: background-color 0.15s;
}

.nav-button-container:hover {
  background-color: rgb(201, 201, 201);
}

.nav-button-container img {
  width: 50%;
}

.nav-button-text {
  font-size: 10px;
}

.icon-container {
  margin-bottom: 6px;
}